<fieldset>
  <p style="display: none;"><input type="hidden" name="task" value="{{ task.name }}" id=""></p>
  
  <div class="field name">
    <label for="name">Component Name:</label><br />
    <input type="text" name="name" value="" id="name">
  </div>
  
  {% for field in form %}
  <div class="field {{ field.name }}">
    {{ field.errors }}
    {{ field.label_tag }}<br />
    {{ field }}
  </div>
  {% endfor %}
  <br />
  
  {% if cmp.template %}
    <input type="checkbox" name="template" value="template" id="">
    <label for="template"><strong>Apply on the whole dataset</strong><br />
      <span class="smaller">All future blocks will also see this processing task applied to its corresponding component.</span>
    </label>
  {% endif %}
  
</fieldset>