<form action="" method="" class="process-form">
  <h5>Choose a processing task to apply on the selected component.</h5>
  
  <select name="process_type" id="process_type">
    <option value="" disabled>Choose a processing task</option>
    {% for task in cmp.tasks %}
    <option value="{{ task.slug }}">{{ task.name }}</option>
    {% endfor %}
  </select>
  
  <div class="process-form-body"></div>
  <br />
  
  <button class="submit">Submit</button>
  <button class="cancel">Cancel</button>
</form>