{% extends "base.html" %}
{% load db %}

{% block extra_script %}
  <script src="{{ MEDIA_URL }}js/interfaces/db.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/graphics.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block extra_style %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/interfaces/db.css">
{% endblock %}

{% block base %}
  {% include "partials/header.html" %}
  
  <div id="content">
    <h1>Database</h1>
    
    <div id="dataset-list">
      <ul class="links">
        {% for dataset in datasets %}
        <li><a href="#dataset-{{dataset.id}}">{{ dataset.name }}</a></li>
        {% endfor %}
      </ul>
      <ul class='dataset-entries'>
        {% for dataset in datasets %}
          {% include "partials/db/item.html" %}
        {% endfor %}
        <li class="empty" style="display: none;">
          <strong>There is no dataset configure yet or accessible to you at the moment.</strong><br />
                  You can either create one or ask other users to share their datasets with you.
        </li>
      </ul>
    </div>
  </div>
{% endblock %}