<li class="dataset" id="dataset-{{ dataset.id }}" data-oid="{{ dataset.id }}">
  <h2 style="display: none;">{{ dataset.name }}</h2>
  <div class="controls">
    <a class="modify" href="#">Modify</a>
    <a class="delete" href="#">Delete</a>
  </div>
  
  <h3>Details</h3>
  <dl class="description">
    <dt>Root Directory</dt>
    <dd>{{ dataset.root }}</dd>
    <dt>Block Name</dt>
    <dd>{{ dataset.blockname }}</dd>
    <dt>Group Name</dt>
    <dd>{{ dataset.groupname }}</dd>
  </dl>
  
  <h3>Blocks</h3>
  <div class="blocks">
  {% with dataset.groups as groups %}
    {% if groups %}
      <div class="left-pane">
        <ul class="groups">
          {% for grp in groups %}
          <li class="group">
            <span class="group-name">
              <span class="icon"></span>
              {{ grp.0 }}</span>
            <ul class="blocks">
              {% for blk in grp.1 %}
              <li class="block" data-oid="{{ blk.id }}">
                <span class="block-name">
                  <span class="icon"></span>
                  {{ blk.name }}</span>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="block-view">
        <div class="empty">
          <strong>Select a block from the list on the left.</strong><br />
          After selecting a block, you will be able to preview its content and act on it.
        </div>
      </div>
    {% else %}
      <div class="empty">
        <strong>No block is included in this dataset just yet.</strong><br />
                You can add blocks to it by loading source files from the <strong>Datasources</strong> interface.
      </div>
    {% endif %}
  {% endwith %}
  </div>
</li>