ul.dataset-entries {
  padding: 0;
  margin: 0;
}
ul.dataset-entries li.empty {
  list-style: none;
}
ul.dataset-entries li.dataset {
  list-style: none;
}
ul.dataset-entries li.dataset .controls {
  float: right;
}
ul.dataset-entries li.dataset h5 {
  padding-top: 0.6em;
  font-size: 1.5em;
  border-bottom: 3px solid #ddd;
}
ul.dataset-entries li.dataset h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5em;
}
ul.dataset-entries li.dataset dl.description {
  font-size: 0.85em;
}
ul.dataset-entries li.dataset div.block-view {
  float: left;
  width: 714px;
}
ul.dataset-entries li.dataset div.block-view h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 5px;
}
ul.dataset-entries li.dataset div.block-view dd, ul.dataset-entries li.dataset div.block-view dt {
  font-size: 0.85em;
}
ul.dataset-entries li.dataset div.block-view .component-view {
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
  padding: 10px;
}
ul.dataset-entries li.dataset div.left-pane {
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  width: 300px;
  min-height: 300px;
  float: left;
  background-color: white;
  margin-right: 10px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups {
  padding: 8px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups li {
  list-style: none;
}
ul.dataset-entries li.dataset div.left-pane ul.groups span.group-name, ul.dataset-entries li.dataset div.left-pane ul.groups span.block-name {
  display: block;
  margin-top: 2px;
  padding: 2px 5px 0 5px;
  cursor: pointer;
  border-radius: 4px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups span.group-name > span.icon, ul.dataset-entries li.dataset div.left-pane ul.groups span.block-name > span.icon {
  background-image: url(../jqueryui/images/ui-icons_d1d1d1_256x240.png);
}
ul.dataset-entries li.dataset div.left-pane ul.groups span.group-name:hover, ul.dataset-entries li.dataset div.left-pane ul.groups span.block-name:hover {
  background-color: #E6E6E6;
}
ul.dataset-entries li.dataset div.left-pane ul.groups span.group-name:hover > span.icon, ul.dataset-entries li.dataset div.left-pane ul.groups span.block-name:hover > span.icon {
  background-image: url(../jqueryui/images/ui-icons_888888_256x240.png);
}
ul.dataset-entries li.dataset div.left-pane ul.groups li.group.expanded span.group-name > span.icon {
  background-position: -16px -96px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups li.group.expanded ul.blocks {
  display: block;
}
ul.dataset-entries li.dataset div.left-pane ul.groups li.group span.group-name {
  font-weight: bold;
}
ul.dataset-entries li.dataset div.left-pane ul.groups li.group span.group-name > span.icon {
  background-position: 0 -96px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks {
  margin: 0;
  padding-left: 0.5em;
  display: none;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block span.block-name {
  font-size: 0.9em;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block span.block-name > span.icon {
  background-position: -32px -96px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block ul.components {
  display: none;
  opacity: 0;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded {
  margin: 5px 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded span.block-name {
  border-radius: 6px 6px 0 0;
  background-color: #858585;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 3px;
  color: white;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded span.block-name > span.icon {
  background-image: url(../jqueryui/images/ui-icons_fafafa_256x240.png);
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components {
  display: block;
  opacity: 1;
  border: 1px solid #858585;
  border-radius: 0 0 6px 6px;
  padding: 4px;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp {
  font-size: 0.9em;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp span.cmp-name {
  background: none;
  display: block;
  padding: 2px 5px 0 5px;
  border-radius: 2px;
  cursor: pointer;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp span.cmp-name span.icon {
  background-position: -80px -80px;
  background-image: url(../jqueryui/images/ui-icons_d1d1d1_256x240.png);
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp span.cmp-name:hover {
  background-color: #e6e6e6;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp span.cmp-name:hover > span.icon {
  background-image: url(../jqueryui/images/ui-icons_888888_256x240.png);
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp.selected span.cmp-name {
  background-color: #e6e6e6;
}
ul.dataset-entries li.dataset div.left-pane ul.groups ul.blocks li.block.expanded ul.components li.cmp.selected span.cmp-name > span.icon {
  background-image: url(../jqueryui/images/ui-icons_888888_256x240.png);
}
