/* --------------------------------------------------------------
       grid.css
       * Sets up an easy-to-use grid of 24 columns.

       By default, the grid is 950px wide, with 24 columns
       spanning 30px, and a 10px margin between columns.
-------------------------------------------------------------- */
/* A container should group all your columns. */
/* Use this class on any div.span / container to see the grid. */
/* Columns
-------------------------------------------------------------- */
/* Sets up basic grid floating and margin. */
/* Use these classes to set the width of a column. */
/* Add these to a column to append empty cols. */
/* Add these to a column to prepend empty cols. */
/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */
/* The last column in a row needs this class. */
/* Use these classes to set the width of an input or textarea. */
/* Border on right hand side of a column. */
/* Border with more whitespace, spans one column. */
/* Misc classes and elements
-------------------------------------------------------------- */
/* In case you need to add a gutter above/below an element */
/* Use a .box to create a padded box inside a column.  */
/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */
/* Regular clearing
   apply to column that should drop below previous ones. */
header {
  margin-top: 5em;
  background-color: white;
  padding: 2em 1.5em 1.5em 1.5em;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 12px 12px 0 0;
}
header h1, header h2 {
  margin: 0;
}
form {
  background-color: white;
  padding: 1.5em;
  border-radius: 0 0 12px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #ddd #ddd #ddd;
}
form label, form input {
  font-size: 1.5em;
}
