<form action="" method="" class="datasource-form">
  {% if datasource %}
  <div style="display: none;"><input type="hidden" name="id" value="{{ datasource.id }}" id=""></div>
  {% endif %}
  
  <fieldset>
    {% for field in form %}
    <div class="field {{ field.name }}">
      {{ field.errors }}
      {{ field.label_tag }}<br />
      {{ field }}
    </div>
    {% endfor %}
  </fieldset>
  
  <button class="submit">{% if datasource %}Update{% else %}Create{% endif %}</button>
  <button class="cancel">Cancel</button>
</form>