{% extends "base.html" %}

{% block extra_script %}<script src="{{ MEDIA_URL }}js/interfaces/db.js" type="text/javascript" charset="utf-8"></script>{% endblock %}
{% block base %}
  {% include "partials/header.html" %}
  <nav class="level-2">
    <li><a href="/" title="">Datasources</a></li>
    <li><a href="/" title="" class="active">Navigator</a></li>
  </nav>
  
  <div id="content">
    <h2>Database</h2>
    <h3>Navigation</h3>
    
    <div id="observable-list">
      <a class="create">Create</a>
      <ul class='observable-entries'>
        <li class="observable-type" rel="1213">
          <h2>Example</h2>
          <a class="delete">Delete</a>
          <a class="modify">Modify</a>
        </li>
      </ul>
    </div>
    <div id="preview"></div>
  </div>
{% endblock %}